*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    overflow: hidden;
}
#home{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navi{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 2;
}
.navi a{
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.text{
    text-align: center;
    margin-top: 150px;
}
.text h1{
    font-size: 45px;
}
.text h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.text h2{
    font-size: 30px;
}
.text h2::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
}
span{
    color: #fff;
}
#about{
    width: 100%;
    /* height: 100%; */
    background-color: #000;
}
.about-me{
    padding: 40px 0;
}
.about-me p{
    padding: 20px;
    color: #fff;
    text-align: center;
}
.abouts{
    width: 100%;
    background-color: #fff;
    padding: 30px 0 50px 0;
    color: #fff;
}
.about-items{
    width: 70%;
    margin: 0 auto;
    padding: 20px ;
    background-color: #000;
    margin-bottom: 20px;
}
.about-items h4:nth-child(1){
    color: tomato;
    font-size: 20px;
}
.about-items h4:nth-child(2){
    margin: 10px 0;
    font-size: 20px;
}
.about-items p{
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
}
#course{
    width: 100%;
    background-color: rgb(20, 20, 56);
    margin-top: 60px;
}
.course-items{
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 300px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.box h1{
    padding: 10px;
    background-color: #111;
    color: #fff;
    text-align: center;
}
.box img{
    width: 100%;
}
.box p{
    z-index: 1;
    padding: 30px 10px 0 10px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 100%;
    background-color: #000;
    height: 100%;
    color: #fff;
    transition: all 1s ease;
}
.box:hover p{
    top: 0;
}
#contact{
    width: 100%;
    height: 500px;
    padding: 30px;
    margin-top: 20px;
    background-color: #000;
}
.contactBox{
    margin-top: 100px;
}
.contactBox h1{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: orange;
}
.massageBox{
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
}
.itemsBox{
    margin: 0 auto;
}

.itemsBox h2{
    color: tomato;
}
.itemsBox p{
    margin-top: 30px;
    color: #fff;
}










